h1 {
    color: blueviolet;
    font-family: sans-serif;
}

p{
   color: brown;
   font-family:fantasy ; 
}

ol{
    color: aqua;
    list-style-type:square;
}
h2{
    color: blue;
}

h3{
    color: aqua;
}

h4{
    color:green;
}

h5{
   color:red ; 
}

h6{
    columns:purple;
}

ul{
    color:orange ;
    list-style-image: url(images/pointer-icon.png);
}

p{
    color:yellow ;

}
a{
    text-decoration:none ;
    font-family: Helvetica, sans-serif ;
    background-color:purple ;
    padding: 5px; ;
}
a:hover{
    background-color: red;

}








